.lay 
{
  padding: 10px;
  list-style-type: none;
  text-decoration: none;
  font-size: 30px;
}
.layout 
{
  display: flex;
  justify-content: center;
}
.etw 
{
  margin-right: 900px;
  width: 8%;
}
.shirt 
{
  padding: 10px;
  text-align: center;
  margin: 10px;
  border: 2px solid black;
}
.shirt>img 
{
  width: 100%;
  padding: 20px;
  
}
.shirt>img:hover 
{
  transition: 2s;
  transform: scale(1.2);
}
.search-input>input
{
  width: 65%;
  font-size: 22px;

}
.search-input
{
  padding-left: 180px;
}
.product-details
{
  font-size: 30px;
}
.select-input 
{
  width: 40%;
  height: 40px;
  margin: 20px;
}
.sign-button 
{
  background-color: whitesmoke;
  margin-left: 30px;
  color: black;
  width: 40%;
  height: 40px;
}
.prod-details 
{
  display: flex;
}
.prod-image
{
  margin-top: 20px;
  flex: 50%;
  padding: 30px;
}

.prod-des 
{
  margin-top: 90px;
  flex: 50%;
  
  font-size: 30px;
}
.product-details
{
  font-size: 30px;
}
.shirt-button 
{
  background-color: #866528;
  color: white;
  width: 60%;
}
.cart-products>img 
{
   width: 15%;
   margin-left: 20px;
}
.para 
{
  padding: 20px;
  font-size: 20px;
  margin: 25px;
}
.para1
{
  background-color: black;
  color: wheat;
  margin: 50px;
}
.footer1 
{
  background-color: #535B62;
  height: 170px;
  padding: 10px;
 padding-left: 30px; 
 color: whitesmoke;
 font-size: 13px;
}
.footer2 
{
  background-color: #535B62;
  height: 70px;
  padding: 10px;
  font-size: 20px;
  padding-left: 30px; 
 color: whitesmoke;
 font-weight: bold;
  
}
.etw3
{
  width: 12%;
  margin-left: 30px;
  border-radius: 10%;
 
}